@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-size-adjust: 100%;
    font-family: "Arimo", sans-serif;
}

.logo img {
    border-radius: 20%;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
::-webkit-scrollbar {max-height: 50%; height: 50%;}
.material-symbols-outlined{
    font-size: 21px !important;
}

.header.scroll {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
} 


/* button caidat */
.box-item::after {
    animation: shiny-btn-anim 4s ease-in-out infinite;
    background-color: #fff;
    content: '';
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: -180px;
    width: 30px;
}

@keyframes shiny-btn-anim {
    0% {
        opacity: 0;
        transform: scale(0) rotate(45deg);
    }

    80% {
        opacity: 0.5;
        transform: scale(0) rotate(45deg);
    }

    81% {
        opacity: 1;
        transform: scale(4) rotate(45deg);
    }

    100% {
        opacity: 0;
        transform: scale(50) rotate(45deg);
    }
}